body{
    background-color: black;
    color:white;
    font-size: 1.0em;
    
}


h2{
    text-align:end; 
    font-size: 0.80em;
    }
h3{
    font-size: 1.2em;
}
h4{
    text-align: center;
}
