body{
    background-color: black;
    color:white;
    font-size: 1.0em;
    
}


h2{
    
    text-align: end;
    font-size: .8em;
}
h3{
    color: black;
    text-align: center
}

